:root {
  --fs-body: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-wrap: break-word;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
option {
  font: inherit;
}

ul[class] {
  list-style: none;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}
body {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-body);
  line-height: 1.7333;
  color: hsl(236, 13%, 42%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(240, 100%, 5%);
  line-height: 1;
}

body {
  padding: 8.9rem 1.6rem;
  background-color: hsl(36, 100%, 99%);
  overflow-x: hidden;
}
@media screen and (max-width: 37.5em) {
  body {
    padding: 2.8rem 1.6rem;
  }
}

body.nav-open {
  height: 100vh;
  overflow-y: hidden;
}

::selection {
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
}

:focus-visible {
  outline-color: hsl(5, 85%, 63%);
  outline-offset: 3px;
}

.btn:link, .btn:visited {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: hsl(5, 85%, 63%);
  color: hsl(240, 100%, 5%);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4.38px;
  transition: color 0.2s ease-in-out;
}
.btn:hover, .btn:active, .btn:focus {
  color: hsl(36, 100%, 99%);
  background-color: hsl(240, 100%, 5%);
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  min-height: 4rem;
  max-width: 110rem;
  margin: 0 auto;
  margin-bottom: 5.51rem;
}
@media screen and (max-width: 64em) {
  .header {
    max-width: 70rem;
  }
}

.navigation__list {
  display: flex;
  gap: 4rem;
}
.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  transition: color 0.2s ease-in-out;
}
.navigation__link:hover, .navigation__link:active, .navigation__link:focus {
  color: hsl(5, 85%, 63%);
}
@media screen and (max-width: 37.5em) {
  .navigation {
    display: flex;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    width: 70%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: hsl(36, 100%, 99%);
    padding: 14.4rem 2.4rem 0;
  }
  .navigation__list {
    flex-direction: column;
  }
  .navigation--open {
    visibility: visible;
    transform: translateX(0);
  }
}

.nav-btn {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-btn--open {
  height: 100%;
}
.nav-btn--close {
  position: absolute;
  top: 2.73rem;
  right: 2.08rem;
}
@media screen and (max-width: 37.5em) {
  .nav-btn {
    display: inline-block;
  }
}

.main {
  max-width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 35rem;
  row-gap: 7.1rem;
  column-gap: 3rem;
}
@media screen and (max-width: 64em) {
  .main {
    max-width: 70rem;
    grid-template-columns: none;
    row-gap: 6.4rem;
  }
}

.main-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.8rem;
  column-gap: 3rem;
}
.main-article__image {
  grid-column: 1/-1;
  height: 30rem;
}
.main-article__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-article__heading {
  font-size: 5.6rem;
  font-weight: 800;
}
@media screen and (max-width: 37.5em) {
  .main-article__heading {
    font-size: 4rem;
  }
}
.main-article__content {
  display: grid;
  justify-items: start;
  align-items: start;
  gap: 3rem;
}
@media screen and (max-width: 37.5em) {
  .main-article {
    grid-template-columns: none;
  }
}

.aside {
  background-color: hsl(240, 100%, 5%);
  padding: 3.2rem 2.4rem;
  color: hsl(233, 8%, 79%);
}
.aside__heading {
  font-size: 4rem;
  color: hsl(35, 77%, 62%);
  margin-bottom: 3.4rem;
}
@media screen and (max-width: 37.5em) {
  .aside__heading {
    font-size: 3.2rem;
  }
}
.aside__list {
  display: grid;
  row-gap: 3rem;
}
.aside__list-item:not(:last-child) {
  border-bottom: 1px solid hsl(233, 8%, 79%);
  padding-bottom: 3rem;
}
.aside__article-title {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 0.8rem;
  color: currentColor;
}
.aside__article-link:link, .aside__article-link:visited {
  color: hsl(36, 100%, 99%);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.aside__article-link:hover, .aside__article-link:active, .aside__article-link:focus {
  color: hsl(35, 77%, 62%);
}

.articles {
  grid-column: 1/-1;
}
.articles__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media screen and (max-width: 64em) {
  .articles__list {
    grid-template-columns: none;
  }
}
.articles__article {
  display: grid;
  height: 100%;
  grid-template-columns: 100px 1fr;
  column-gap: 2.4rem;
  row-gap: 1rem;
}
.articles__article-img {
  grid-row: 1/span 3;
}
.articles__article-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.articles__article-number {
  color: hsl(5, 85%, 63%);
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 700;
}
.articles__article-title {
  font-size: 1.8rem;
  line-height: 1.3333;
  font-weight: 800;
  color: currentColor;
}
.articles__article-link:link, .articles__article-link:visited {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
  transition: color 0.2s ease-in-out;
}
.articles__article-link:hover, .articles__article-link:focus, .articles__article-link:active {
  color: hsl(5, 85%, 63%);
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 26, 0.5);
  z-index: 10;
  transition: all 0.2s ease-in-out;
}
.backdrop--show {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
