@use 'variables' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media screen and (min-width: $bp-desktop-xl) {
        font-size: 90%;
    }
}

body {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    word-wrap: break-word;
}

img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
option {
    font: inherit;
}

ul[class] {
    list-style: none;
}
